/* common shared styles*/
nav{
    display: flex;
}

/* nav related styles */
nav{
    justify-content: space-between;
}
.text-primary{
    color: #FD6E0A;}
    nav > ul{
        display: flex;
        align-items: center;
    }
    .btn-primary{
        border-radius: 5px;
        background: #FD6E0A;
        border: 0;
        color: white;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 35px;
    }
    nav li{
        list-style: none;
        margin-right: 50px ;
    }
    nav a{
        text-decoration: none;
        color: #474747;
    }